body{
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    border: 10px solid black;
    margin: 2.5rem;

}
 .btn-container{
     display:flex ;
     justify-content: center;
 }
  .red{
     background-color:rgb(153, 51, 73);
 }
 .yellow{
     background-color: rgb(255, 230, 0);
 }
 .purple{
    background-color: blueviolet;
 }
 .green {
    background-color: rgb(0, 128, 53);

 }
 .flash{
    background-color: white;
 }
 .userflash {
    background-color: green;
 }